*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Raleway", sans-serif;
}


/*--form----------*/
#form {
    width: 300px;
    margin: 13vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

.data_input {
    display: flex;
    flex-direction: column;
}

.data_input input {
    border: 10px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}
.data_input textarea {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.data_input input:focus {
    outline: 0;
}

.data_input.success input {
    border-color: #09c372;
}

.data_input.error input {
    border-color: #ff3860;
}

.data_input .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}


/*----------------------------------------------*/
header {
	height: 10vh;
	background-color: #64a19d;
	background-position: center;
    background-size: 1100px;
    border-radius: 25px;


}

footer {
	height: 10vh;
	background-color: #154846;
	background-position: center;
    background-size: 1100px;
    text-align: center;
    color: #0c668d;
    padding: 8px 15px;
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
    bottom: 0;
    width:100%;
    position: absolute;
    border-radius: 25px;
}

a.foo_link:link {
    color: #17918d;
   text-decoration: none;
}
a.foo_link:visited {
    color: #17918d;
   text-decoration: none;
}
a.foo_link:hover {
    color: #17918d;
   text-decoration: none;
}
a.foo_link:active {
    color: #17918d;
   text-decoration: none;
}


.main-nav {
	float: right;
	list-style: none;
	margin-top: 30px;
	position: relative;
}

.main-nav li {

	display: inline-block;
	

}
.main-nav li a {
	color: rgb(36, 44, 75);
	text-decoration: none;
	padding: 8px 15px;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
}

.logo {
	padding: 20px 20px;
	max-height: 120px;
	max-width: 120px;
}


/*-----------------------------------------*/

.content{
text-transform: uppercase;
width: 100%;
height: 200px;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-30%);
text-align: center;
}
 
.content h2 {
	margin-bottom: 30px;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 0.3em;
}
.content h1 {
	margin-bottom: 50px;
	font-size: 50px;
	font-weight: 1000;
	letter-spacing: 0.5em;
	color: rgb(91, 161, 222);
}
p.para{

  padding:  0 200px 0 200px;
  margin: 20px;
  text-align: center;
  color: rgb(40, 94, 34);
  text-transform: uppercase;
 
}

p.reflex{

	padding:  50px 200px 0 200px;
	margin: 20px;
	text-align: left;
	color: rgb(9, 24, 7);

  }

content {
    height: 80vh;
}


/*------------media responsive query-----------------------------*/

@media only screen and (max-width:1180px){
	.content {
		width: 100%;
		padding: 0 2%;
	}
}
@media only screen and (max-width:998px){
	.content h1 {
		font-size: 40px;	
	}
	.content h2 {
		font-size: 12px;
	}
	
@media only screen and (max-width:768px){
	.content h1 {font-size: 35px;	}
	
	.content h2 {font-size: 10px;  }
	.main-nav{
		display: none;
	} 


	.main-nav li{
		display: block;
		margin-top: 10px;
	}

